<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
</head>
<body>
    <h3>Link to course</h3>
    <form id="link-to-course">
        <label for="course">Course: </label>
        <input type="text" name="course" id="course">
        <br>
        <label for="registration">Registration: </label>
        <input type="text" name="registration" id="registration">
        <br>
        <input type="submit" value="Submit">
        <a href="../../app.html">Back</a>
    </form>

    <script src="../../script/link-course.js"></script>
</body>
</html>