<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
</head>
<body>
    <h3>Register Course</h3>
    <form id="create-course-form">
        <label for="name">Name: </label>
        <input type="text" name="name" id="nameCourse" required>
        <label for="description">Description: </label>
        <input type="text" name="description" id="descriptionCourse" required>
        <input type="submit" value="Submit">
        <a href="../../app.html">Back</a>
    </form>

    <script src="../../script/post-course.js"></script>
</body>
</html>