<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
</head>
<body>
    <h3>Update Course by Put</h3>
    <form id="put-course-form">
        <label for="registration-param">Enter the name: </label>
        <input type="text" name="name-param" id="name-param">
        <br><br>
        <label for="name-for-put">Name: </label>
        <input type="text" name="name-for-put" id="name-for-put">
        <label for="description-for-put">Description: </label>
        <input type="text" name="description-for-put" id="description-for-put">
        <input type="submit" value="PUT">
    </form>

    <script src="../../script/put-course.js"></script>
</body>
</html>