<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
</head>
<body>
    <h3>Register Student</h3>
    <form id="create-student-form">
        <label for="name">Name: </label>
        <input type="text" name="name" id="nameStudent" required>
        <label for="registration">Registration: </label>
        <input type="text" name="registration" id="registrationStudent" required><br>
        <input type="submit" value="Submit">
        <a href="../app.html">Back</a>
    </form>

    <script src="../script/post-student.js"></script>
</body>
</html>