<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
</head>
<body>
    <h3>Update Studant by Patch</h3>
    <form id="patch-student-form">
        <label for="registration-param">Enter the registration: </label>
        <input type="text" name="registration-param" id="registration-param">
        <br><br>
        <label for="name-for-patch">Name: </label>
        <input type="text" name="name-for-patch" id="name-for-patch">
        <label for="registration-for-patch">Registration: </label>
        <input type="text" name="registration-for-patch" id="registration-for-patch">
        <input type="submit" value="PATCH">
    </form>

    <script src="../script/patch-student.js"></script>
</body>
</html>