<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
</head>
<body>
    <h3>Update Studant by Put</h3>
    <form id="put-student-form">
        <label for="registration-param">Enter the registration: </label>
        <input type="text" name="registration-param" id="registration-param">
        <br><br>
        <label for="name-for-put">Name: </label>
        <input type="text" name="name-for-put" id="name-for-put">
        <label for="registration-for-put">Registration: </label>
        <input type="text" name="registration-for-put" id="registration-for-put">
        <input type="submit" value="PUT">
    </form>

    <script src="../script/put-student.js"></script>
</body>
</html>